<a href="https://colab.research.google.com/github/ashvinishinde/new-repository/blob/main/1_Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Google Colab:
Cloud based python coding environment by Google:

Data Manipulation

Data Visualization

ML modelling

Deployment.

Run this cell = Shift + Enter bold text

In [1]:
print("Hello world")

Hello world

In [2]:
a=4 # defining  variable "a" and assigning the value 4
b=2 # defining  variable "b" and assigning the value 2
a*b # Multiply

8

In [3]:
a=6 #defing variable and assigning the value 4
b=10 # defining the variable nad assigning the value 10
a+b #addition

16

In [5]:
a=10 #defining variable as a and assigning value 10
b=6
a-b # substraction

4

In [7]:
a=2
b=10
a*b

20

In [8]:
a=2
b=2
a/b #division

1.0

In [6]:
a=6
b=4
a*b # multiplication

24

## # Exponenetial = a ** b --> a to the power b

In [10]:
a=2
b=4
a**b #2*2*2*2 = 16

16

In [14]:
# Floor division(//) = It truncates the decimal Part(remove the decemal part)
5//2

2

In [15]:
5/2

2.5

In [19]:
# Why floor division? (//)
# Beverage company (Coco) = Pack of 6
order_size = 6323
Number_Of_Pallet= order_size / 6
Number_Of_Pallet

1053.8333333333333

In [24]:
# Why floor division? (//)
# Beverage company (Coco) = Pack of 6
order_size = 6326
Number_Of_Pallet= order_size // 7
Number_Of_Pallet

903

In [27]:
# Convert seconds to minutues
seconds = 399
minutues = seconds//60
minutues

6

##Data Types:
###Data Types are used to define the type of a varibale.
###Define what type of data we are going to store in a variable.
eg: Persons Age, Salary , Weight

##Python Data Types:

Numeric = int, Float, Complex

int = Whole Numbers => 46, 30000, 1200Sqft

Float = Fractions/ Decimal numbers => 3.14, 66.65, 156.5cm

Complex = Real+Imaginary => 3+4j

String = str
"hello world", Person's name, Address
"@#$%password"

Boolean (True/False)
Male = True

In [28]:
a=33  #return the datatype stored in a variable
type(a) # data type is int

int

In [29]:
a=2.3
type(a) #data type is flot

float

In [34]:
a='ashvini' #any kind of data in "" / ''
b="anu"
type(a+b)

str

In [35]:
#assignment operato(=)
z=3 # I'm assigning a value 3 to the variable z

x=4

In [36]:
# Comparision Operator(==)
x==4 # I'm checking if the value of x is it equal to 4?

True

In [41]:
a=10
a==8

False

In [42]:
b=2+2==4
type(b)

bool

##Arthmetric Operators:
+,-,*,/

In [47]:
#addtion
8+8

16

In [48]:
# substraction
10-6

4

In [49]:
# multiplication
2*2

4

In [50]:
# division
2/2

1.0

In [51]:
# flore division (//) remove decimal part
2//2

1

In [53]:
#  Exponenetial = a ** b --> a to the power b
2**3 # 2*2*2=8

8

## Order of Execution of opearators

# PEMDAS Rule:

### Parenthesis ( ), Exponents, Division, Multiplication, Add, Sub

In [55]:
5+(2*3)** 2- 4/2
# Paren->Mul, expo, Div, add, sub

39.0

In [56]:
#int+decimal = Decimal
2+2.0

4.0

In [57]:
3+2*4 #MD

11

In [58]:
4-3*6

-14

In [59]:
(3+2)*4

20

In [60]:
(2*2)-4

0

##Comments

used to increase the readability of the code.

In [61]:
print("hello everyone") #This is a simgle line comment

hello everyone

In [62]:
''' This is
multiline
comment '''

' This is\nmultiline\ncomment '

In [64]:
''' Hello World aaaaaa '''

' Hello World aaaaaa '

## Activity:Cricket Match:
wins: 3 points

draws: 1 point

losses: 0 points

Team London has played 9 matches in this tournament. They won 6 matches, lost 2 matches and drew 1.

In [65]:
(6*3)+(2*0)+(1*1)

19

## Activity:Cricket Match:
wins: 3 points

draws: 2 point

losses: 0 points

Team London has played 15 matches in this tournament. They won 10 matches, lost 3 matches and drew 2

In [66]:
(10*3)+(3*0)+(2*2)

34

## Rules for naming a variable:

Variable names is case sensitive -> age=23 and Age=24

Variable names can only start with and underscore(_) or with a character

You cannot use keywords for naming a variable. (def, True, false,And, rreturn)

In [74]:
_age=29
last_name = 'shinde'
print(last_name)

print(_age)
_age==29

shinde
29

True

# Boolean data type:
Two Values = True / False

Comaparisions, Decision Making

In [79]:
name='akash'
name=='anu'
#type(name)
print(name)

akash

In [77]:
a=6
b=6
a==b

True

In [80]:
6>5

True

In [84]:
6>13

False

In [90]:
6<8

True

In [91]:
8<7

False

In [92]:
6!=6

False

In [94]:
6 != 5 #Is 6 not equal to 6

True

In [95]:
# Not equal to (!=)
5 != 5

False

In [96]:
3+2 != 4+2

True

In [ ]:
# a=6 -> Im assign value 6 to th variable a
# a==6 -> I'm checking if the content of a is it equal to 6??

## Modulo Operator(%):
Returns Remainder

In [97]:
9//4 # Floor division operator is returning => Quotient

2

In [98]:
9 % 4 # Modulo Operator is returning Remainder

1

In [ ]:
# Check if a number is even or odd
num = 23
''' If a number is divided by 2, if the remainder =1 then
it's odd else even'''

In [99]:
23%2

1

In [101]:
24 % 2

0

In [103]:
35 % 2

1

In [104]:
18%2

0

In [105]:
Math_marks=66
total_marks=80
percentage = Math_marks/total_marks*100
percentage

82.5

In [116]:
Math_mark=50
Total_mark=80
percentage = Math_marks/total_marks*100
percentage

82.5